.btn-custom-admin {
  background-color: var(--primary-700);
  color: white;
  transition: 0.5s;
  display: flex;
  align-items: center;
  gap: 10px;
}

.btn-custom-admin:hover {
  background-color: var(--primary-600);
  color: white;
}
.btn-custom-admin:focus {
  background-color: var(--primary-700) !important;
  color: white !important;
}
