.container-cart {
  background-color: var(--hds-blanco);
  padding-bottom: 50px;
  padding-top: 50px;
}

.col-cart {
  display: flex;
  justify-content: center;
  align-items: center;
}

.col-cart-info {
  display: flex;
  justify-content: center;
  align-items: center;
  border-left: 2px solid rgba(0, 0, 0, 0.09);
}

.div-cart-info {
  height: 100%;
  width: 100%;
  margin: 40px;
  background-color: var(--primary-300);
  color: white;
  border-radius: 15px;
  padding: 25px;
  display: flex;
  flex-direction: column;
}

.par-info {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  p {
    margin: 0px;
  }
}

.total-info {
  display: flex;
  flex-direction: column;
  margin-top: auto;
}

.div-img-cart {
  width: 120px;
  img {
    width: 100%;
    object-fit: cover;
    transition: transform 0.5s ease;
  }
  img:hover {
    transform: scale(1.1);
  }
}

.cart-price-delete {
  display: flex;
  align-items: center;
  gap: 20px;

  button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    transition: 0.5s;
    border: none;
    background-color: var(--gray-900);
  }
  button:hover {
    border: none;
    background-color: var(--gray-700);
  }
  button:active {
    background-color: var(--gray-700) !important;
  }
}

.btn-goback {
  text-decoration: none;
  padding: 8px 15px;
  border-radius: 10px;
  font-weight: 500;
  transition: 0.5s;
  background-color: var(--primary-300);
  border: 2px solid var(--primary-300);
  color: var(--hds-blanco);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.btn-goback:hover {
  border: 2px solid var(--primary-500);
  color: var(--hds-blanco);
  background-color: var(--primary-500);
}
