.navbar-transparente {
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  width: 100%;
  z-index: 1000;
  top: 0;
}

.navbar-normal {
  background-color: #000;
  position: relative;
  width: 100%;
}

.logo-navbar {
  height: 80px;
  width: 80px;
  object-fit: contain;
  transition: 0.5s;
}

.logo-navbar:hover {
  transform: scale(1.1);
}

.fuente-navbar {
  font-family: "Oswald", sans-serif;
  font-weight: 300;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 1px;
  position: relative;
  /* border: 1px solid white; */
}

.fuente-navbar::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: var(--hds-rojo);

  transform: scaleX(0); /* invisible */
  transform-origin: left; /* arranca desde la izquierda */
  transition: transform 0.3s ease;
}
/* hover → aparece */
.fuente-navbar:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}
/* cuando salís → se va hacia la derecha */
.fuente-navbar::after {
  transform-origin: right;
}

.fuente-navbar,
.fuente-navbar:focus,
.fuente-navbar:visited,
.fuente-navbar:active {
  color: var(--hds-blanco) !important;
  text-decoration: none;
}

/* .fuente-navbar:hover {
  color: var(--hds-gris-claro) !important;
} */

/* Titulo del Dropdown */
.navbar-transparente .dropdown-toggle,
.navbar-normal .dropdown-toggle {
  font-family: "Oswald", sans-serif;
  font-weight: 300;
  font-size: 18px;
  color: var(--hds-blanco) !important;
  padding-left: 0px !important;
  padding-right: 0px !important;
}

/* .navbar-transparente .dropdown-toggle:hover,
.navbar-normal .dropdown-toggle:hover {
  color: var(--hds-gris-claro) !important;
} */

/* Menu desplegable */
.dropdown-menu {
  background-color: rgba(255, 255, 255, 0.2);
  padding: 0px;
  border-top: 2px solid var(--hds-rojo);
  padding: 0px;
}

.dropdown-item {
  color: var(--hds-blanco);
  font-family: "Oswald", sans-serif;
  font-weight: 300;
  font-size: 18px;
  padding-bottom: 8px;
}

.dropdown-item:hover {
  background-color: rgba(255, 255, 255, 0.2);
  color: var(--hds-blanco);
}
/*  */
