@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Audiowide&display=swap");

/* font-family: "Oswald", sans-serif; */
/* font-family: "Audiowide", sans-serif; */

:root {
  --primary-50: #fff5f5;
  --primary-100: #ffe5e5;
  --primary-200: #ffb3b3;
  --primary-300: #ff8080;
  --primary-400: #ff4d4d;
  --primary-500: #ff1e1e;
  --primary-600: #e60000;
  --primary-700: #cc0000;
  --primary-800: #990000;
  --primary-900: #660000;

  --gray-100: #f5f5f5;
  --gray-300: #bdbdbd;
  --gray-500: #7a7a7a;
  --gray-700: #3a3a3a;
  --gray-900: #121212;

  --hds-blanco: #ffffff;
  --hds-negro: #000000;

  --success: #4caf50;
  --warning: #ffb300;
  --error: #e53935;
}

:root {
  --hds-rojo: #ff1e1e;
  --hds-rojo-oscuro: #4c0203;
  --hds-gris-oscuro: #4a4a4a;
  --hds-gris-claro: #bdbdbd;
}
